<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Shop All Items</title>

    <!--Importing Bootstrap 5 for CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Linking CSS file-->
    <link rel="stylesheet" href="/public/css/style.css">

    <!--Font Awesome -->
    <script src="https://kit.fontawesome.com/8875caf3cf.js" crossorigin="anonymous"></script>

    <!-- Favicon Link -->
    <link rel="icon" href="/public/images/favicon/wordmark-favicon.ico" type="image/x-icon">

</head>

<body>
    <!-------------------->
    <!-- Navbar Section -->
    <%- include('templates/navbar') %>

        <!-- End of Navbar Section -->
        <!--------------------------->


        <!---------------------------------------------->
        <!-- Links to ShopEntire Page Sections Navbar -->
        <!-- 
            - class page-buttons for CSS display, width, flex
            - class my-button for CSS margin, padding, text align, font size
        -->
        <div class="page-buttons shop-sticky-nav">
            <a href="/shop-all#premierLeague">
                <button class="my-button">PREMIER LEAGUE</button>
            </a>
            <a href="/shop-all#laLiga">
                <button class="my-button">LA LIGA</button>
            </a>
            <a href="/shop-all#leagueOfIreland">
                <button class="my-button">LEAGUE OF IRELAND</button>
            </a>
            <a href="/shop-all#serieA">
                <button class="my-button">SERIE A</button>
            </a>
            <a href="/shop-all#bundesliga">
                <button class="my-button">BUNDESLIGA</button>
            </a>
            <a href="/shop-all#ligue1">
                <button class="my-button">LIGUE 1</button>
            </a>
            <a href="/shop-all#international">
                <button class="my-button">INTERNATIONAL</button>
            </a>
            <a href="/shop-all#footballs">
                <button class="my-button">FOOTBALLS</button>
            </a>
            <a href="/shop-all#goals">
                <button class="my-button">GOALS</button>
            </a>
            <a href="/shop-all#gloves">
                <button class="my-button">GOALKEEPER GLOVES</button>
            </a>
            <a href="/shop-all#shinPads">
                <button class="my-button">SHIN PADS</button>
            </a>
        </div>
        <!-- End of Links to ShopEntire Page Sections Navbar -->
        <!----------------------------------------------------->


        <!------------------->
        <!-- SHOP SECTIONS -->

        <!-- Premier League -->
        <!-- id used for links to the page sections -->
        <section id="premierLeague">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Premier League</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="Premier League" ) { %>
                        <!--
                            - class product for CSS font weight
                            - col-lg-2 = large screens will have 6 products per row
                            - col-md-4 = medium screens will have 3 products per row
                            - col-12 = small screens will have 1 products per row
                            - text-center = centres all text with this container
                            - mb-4 = applies a bottom margin of size 4
                        -->
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/jerseys/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of Premier League -->


        <!-- La Liga -->
        <!-- id used for links to the page sections -->
        <section id="laLiga">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>La Liga</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="La Liga" ) { %>
                        <!--
                            - class product for CSS font weight
                            - col-lg-2 = large screens will have 6 products per row
                            - col-md-4 = medium screens will have 3 products per row
                            - col-12 = small screens will have 1 products per row
                            - text-center = centres all text with this container
                            - mb-4 = applies a bottom margin of size 4
                        -->
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/jerseys/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of La Liga -->


        <!-- League of Ireland -->
        <!-- id used for links to the page sections -->
        <section id="leagueOfIreland">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>League of Ireland</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="League of Ireland" ) { %>
                        <!--
                            - class product for CSS font weight
                            - col-lg-2 = large screens will have 6 products per row
                            - col-md-4 = medium screens will have 3 products per row
                            - col-12 = small screens will have 1 products per row
                            - text-center = centres all text with this container
                            - mb-4 = applies a bottom margin of size 4
                        -->
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/jerseys/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of League of Ireland -->


        <!-- Serie A -->
        <!-- id used for links to the page sections -->
        <section id="serieA">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Serie A</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="Serie A" ) { %>
                        <!--
                            - class product for CSS font weight
                            - col-lg-2 = large screens will have 6 products per row
                            - col-md-4 = medium screens will have 3 products per row
                            - col-12 = small screens will have 1 products per row
                            - text-center = centres all text with this container
                            - mb-4 = applies a bottom margin of size 4
                        -->
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/jerseys/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of Serie A -->


        <!-- Bundesliga -->
        <!-- id used for links to the page sections -->
        <section id="bundesliga">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Bundesliga</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="Bundesliga" ) { %>
                        <!--
                            - class product for CSS font weight
                            - col-lg-2 = large screens will have 6 products per row
                            - col-md-4 = medium screens will have 3 products per row
                            - col-12 = small screens will have 1 products per row
                            - text-center = centres all text with this container
                            - mb-4 = applies a bottom margin of size 4
                        -->
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/jerseys/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of Bundesliga -->


        <!-- Ligue 1 -->
        <!-- id used for links to the page sections -->
        <section id="ligue1">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Ligue 1</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="Ligue 1" ) { %>
                        <!--
                            - class product for CSS font weight
                            - col-lg-2 = large screens will have 6 products per row
                            - col-md-4 = medium screens will have 3 products per row
                            - col-12 = small screens will have 1 products per row
                            - text-center = centres all text with this container
                            - mb-4 = applies a bottom margin of size 4
                        -->
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/jerseys/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of Ligue 1 -->


        <!-- International -->
        <!-- id used for links to the page sections -->
        <section id="international">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>International Teams</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="International" ) { %>
                        <!--
                            - class product for CSS font weight
                            - col-lg-2 = large screens will have 6 products per row
                            - col-md-4 = medium screens will have 3 products per row
                            - col-12 = small screens will have 1 products per row
                            - text-center = centres all text with this container
                            - mb-4 = applies a bottom margin of size 4
                        -->
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/jerseys/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of International -->


        <!-- Footballs -->
        <!-- id used for links to the page sections -->
        <section id="footballs">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Footballs</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="Ball" ) { %>
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/misc_items/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of Footballs -->


        <!-- Goals-->
        <!-- id used for links to the page sections -->
        <section id="goals">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Goals</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="Goals" ) { %>
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/misc_items/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of Goals-->


        <!-- Gloves -->
        <!-- id used for links to the page sections -->
        <section id="gloves">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Goalkeeper Gloves</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="Gloves" ) { %>
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/misc_items/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of Gloves -->


        <!-- Shin Pads -->
        <!-- id used for links to the page sections -->
        <section id="shinPads">
            <!--
                - bootstrap container 
                - text-center = all text is centred horizontally inside this container
                - mt-5 = margin top of size 5
                - py-5 = padding top and bottom of size 5
            -->
            <div class="container text-center mt-5 py-5">
                <h3>Shin Pads</h3>
                <hr>
            </div>

            <!-- For Each Loop to get info and make 'Product Cards' for each item-->
            <div class="row">
                <% products.forEach(product=> { %>
                    <!-- Make sure the product is for the correct league -->
                    <% if (product.League==="Shin Pads" ) { %>
                        <div class="product col-lg-2 col-md-4 col-12 text-center mb-4">
                            <!-- Product Image -->
                            <!-- img-fluid makes the image responsive -->
                            <!-- mb-3 gives size 3 margin on bottom of image -->
                            <img src="/public/images/misc_items/<%= product.Image %>" class="img-fluid mb-3">

                            <!-- Product Name and Version (example Arsenal Home)-->
                            <h5>
                                <%= product.Club %>
                                    <%= product.Version %>
                            </h5>

                            <!-- Product Price-->
                            <h4>€<%= product.Price %>
                            </h4>

                            <!-- Link to product page (shopItems) using app.js (search by ID) -->
                            <a href="/shop?rec=<%= product.ID %>">
                                <!-- class details for CSS position, colour, hover, transform, display -->
                                <button class="details">More Details</button>
                            </a>
                        </div>
                        <!-- Close the For Each loop-->
                        <% } %>
                            <% }) %>
            </div>
        </section>
        <!-- End of Shin Pads -->

        <!-- END OF SHOP SECTIONS -->
        <!-------------------------->


        <!------------------------>
        <!--Brand Logos Section -->

        <!--A band of brands across screen for logos of items being sold. Using class container to remove sliding bar 
        at bottom of screen and set the width of the images in the row-->
        <section class="container">
            <!--
            Row (bootstrap) to keep all images in one row, with img-fluid (bootstrap) to make the images responsive
            - col-lg-2 allows all six images in the row on a large screen
            - col-md-4 stacks them in two rows with three images per row on medium screen
            - col-6 puts two images per row on smaller sized screens, such as mobile
        -->
            <div class="row">
                <img class="img-fluid col-lg-2 col-md-4 col-6" src="/public/images/brands/nike-logo-black-and-white.png"
                    alt="nike">
                <img class="img-fluid col-lg-2 col-md-4 col-6"
                    src="/public/images/brands/adidas-logo-black-and-white.png" alt="addidas">
                <img class="img-fluid col-lg-2 col-md-4 col-6" src="/public/images/brands/puma-logo-black-and-white.png"
                    alt="puma">
                <img class="img-fluid col-lg-2 col-md-4 col-6"
                    src="/public/images/brands/umbro-logo-black-and-white.png" alt="umbro">
                <img class="img-fluid col-lg-2 col-md-4 col-6"
                    src="/public/images/brands/Oneills-logo-black-and-white.png" alt="o'neills">
                <img class="img-fluid col-lg-2 col-md-4 col-6" src="/public/images/brands/macron-black-and-white.png"
                    alt="macron">
            </div>
        </section>

        <!--End of Brand Logos Section -->
        <!------------------------------->


        <!---------------------->
        <!--Back to Top Button-->
        <!-- id set for styling in CSS, function in Javascript-->
        <button id="backToTop" title="Go to top">↑ Top</button>

        <!--End of Back to Top Button-->
        <!----------------------------->


        <!------------------->
        <!-- Footer Section-->
        <%- include('templates/footer') %>

            <!-- End of Footer Section-->
            <!-------------------------->


            <!--Link JAVASCRIPT FILE-->
            <script src="/public/script.js"></script>

            <!--Importing Bootstrap 5 for JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>