<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- makes page title from db depending on what club and version is shown -->
    <title>
        <%= myClub %>
            <%= myVersion %>
    </title>

    <!--Importing Bootstrap 5 for CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Linking CSS file-->
    <link rel="stylesheet" href="/public/css/style.css">

    <!--Font Awesome -->
    <script src="https://kit.fontawesome.com/8875caf3cf.js" crossorigin="anonymous"></script>

    <!-- Favicon Link -->
    <link rel="icon" href="/public/images/favicon/wordmark-favicon.ico" type="image/x-icon">

</head>

<body>
    <!-------------------->
    <!-- Navbar Section -->
    <%- include('templates/navbar') %>

        <!-- End of Navbar Section -->
        <!--------------------------->


        <!---------------------------->
        <!-- Product Display Section-->
        <!--
            - creates a bootstrap container
            - mt-5 = margin top with size of 5
            - pt-4 pb-4 = padding at top and bottom with a size of 4      
        -->
        <div class="container mt-5 pt-4 pb-4">
            <!-- creates a row -->
            <div class="row">


                <!----------------------------------------------->
                <!-- Left Side Column - Product Name and Image -->

                <!-- Item Name -->
                <!-- 
                    - col-md-8 = takes 2/3 of the grid columns on medium and large screens
                    - d-flex flex-column = flexbox to stack child elements vertically
                    - align-items-center = aligns the child elements centrally on the horizontal axis
                    - text-center = makes the text display centrally
                -->
                <div class="col-md-8 d-flex flex-column align-items-center text-center">
                    <!-- id for CSS to style font-->
                    <h1 id="product">
                        <!-- dynamically gets product name from db server -->
                        <%= myClub %>
                    </h1>
                    <!-- End of Item Name -->


                    <!-- Item Image -->
                    <!--
                        - For Loop using myLeague from app.js to get the image from the correct folder
                        - Jesrseys are in images/jerseys/ and everything else is in images/misc_items
                        - Make the array miscProducts for selected products
                        - If the League column in db matches any of the miscProducts array, use the misc_items folder
                        - Otherwise jerseys is the standard folder to use for the images
                        - Using same loop to define if the item will be labelled as 'League' or 'Product' with myLeague
                    -->
                    <% const miscProducts = ['Ball', 'Shin Pads' , 'Gloves' , 'Goals' ]; 
                        let imageFolder = 'jerseys' ; 
                        let leagueLabel = 'League:' ; 
                            for (let i=0; i < miscProducts.length; i++) { 
                                if (myLeague === miscProducts[i]) { 
                                    imageFolder = 'misc_items' ; 
                                    leagueLabel = 'Product:' ; 
                                    break; 
                            } 
                        } 
                    %>
 
                        <!--This will select the image based on the imageFolder from the loop above (jerseys or misc_items)-->
                        <div class="product-image-wrapper">
                            <img id="product_image" src="/public/images/<%= imageFolder %>/<%= myImage %>"
                                class="img-fluid mt-4 product-image" alt="Product Image">
                        </div>
                        <!-- End of Item Image -->

                </div>
                <!-- End of Left Side Column -->
                <!----------------------------->


                <!--------------------------------------------------------------------------->
                <!--Right Side Column - Crest, Version, Price, Size, Quantity, Add to Cart -->
                <div class="col-md-4">

                    <!-- Crest / Logo Image -->
                    <!-- 
                        - All crests and logos are saved in the same folder so no need for loop
                        - text-center = bootstrap to align text horizontally within its container
                        - mb-4 = bootstrap margin bottom size 4 
                    -->
                    <div class="text-center mb-4">
                        <img src="/public/images/crest/<%= myCrest %>" class="img-fluid" style="max-width: 120px;"
                            alt="Club Crest">
                    </div>
                    <!-- End of Crest / Logo Image -->


                    <!-- Product info -->
                    <!-- id used for Javascript addToCart Button -->
                    <h2 id="type" data-id="<%= myID %>">
                        <%= myClub %>
                            <%= myVersion %>
                    </h2>

                    <!-- League Label (Displays League or Product depending on item - Jersey or Misc)-->
                    <!-- The leagueLabel was defined in the for loop with const miscProducts -->
                    <p><strong>
                            <%= leagueLabel %>
                        </strong>
                        <%= myLeague %>
                    </p>
                    <p><strong>Manufacturer: </strong>
                        <%= myManufacturer %>
                    </p>
                    <!-- End of Product info -->


                    <!-- Product Price -->
                    <!-- text-danger = applies a red colour -->
                    <h3 class="text-danger">
                        <!-- id used for Javascript addToCart Button -->
                        €<span id="price">
                            <%= myPrice %>
                        </span>
                    </h3>
                    <!-- End of Product Price -->
                    

                    <!--Size Option -->
                    <!--
                        - creates a new bootstrap row
                        - mb-3 = applies a margin to the bottom of size 3
                        - align-items-center = vertically centres the columns in the row
                    -->
                    <div class="row mb-3 align-items-center">
                        <!-- 
                            - col-4 = small screen take 1/3 of width
                            - col-md-3 = medium and above screens take 1/4 of width
                        -->
                        <div class="col-4 col-md-3">
                            <strong>Size: </strong>
                        </div>
                        <!-- 
                            - col-8 = small screen take 2/3 of width
                            - col-md-4 = medium and above screens take 1/3 of width
                        -->
                        <div class="col-8 col-md-4">
                            <!-- id used for Javascript addToCart Button -->
                            <!-- name used for ejs for the discount function -->
                            <select id="size" name="size">
                                <!-- 
                                    - Notes in this section use <%# %> otherwise ejs will include them as code
                                    - Done with if loop based on the name given under the 'League' column in db
                                -->
                                <%# Size options for Footballs using the else if %>
                                    <% if (myLeague === "Ball" ) { %>
                                        <option value="Size 3">Size 3</option>
                                        <option value="Size 4">Size 4</option>
                                        <option value="Size 5" selected>Size 5</option>

                                        <%# Size options for Goalkeeper Gloves using the else if %>
                                            <% } else if (myLeague === "Gloves" ) { %>
                                                <option value="Xtra Small">Junior</option>
                                                <option value="Small">Adult Small</option>
                                                <option value="Medium" selected>Adult Medium</option>
                                                <option value="Large">Adult Large</option>

                                                <%# Size Options for Shin Pads using the else if %>
                                                    <% } else if (myLeague === "Shin Pads" ) { %>
                                                        <option value="Small">Small</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Large" selected>Large</option>

                                                        <%# Default Value for any uncategorised Items %>
                                                            <% } else if (myLeague === "Goals" ) { %>
                                                                <option value="Standard">Standard</option>

                                                                <%# Size Options for Jerseys (different league names -
                                                                    Premier League, La Liga, etc) using if loop %>
                                                                    <% } else { %>
                                                                        <option value="Xtra Small">XS</option>
                                                                        <option value="Small">S</option>
                                                                        <option value="Medium" selected>M</option>
                                                                        <option value="Large">L</option>
                                                                        <option value="Xtra Large">XL</option>
                                                                        <option value="Double Xtra Large">2XL</option>
                                                                        <% } %>
                            </select>
                        </div>
                    </div>
                    <!--End of Size Option -->


                    <!-- Alert Message Location On Screen Saying Items Added to Cart -->
                    <!-- id used for Javascript addToCart Button -->
                    <div id="alertPlaceholder" class="mt-3"></div>
                    <!-- End of Alert Message On Screen -->


                    <!-- Quantity Option -->
                    <!--
                        - creates a bootstrap row
                        - mb-3 = margin bottom of size 3
                        - align-items-center = child elements are vertically centred
                    -->
                    <div class="row mb-3 align-items-center">
                        <!--
                            - col-4 = on small screen will take 1/3 of width
                            - on medium or above screens will take 1/4 of width
                        -->
                        <div class="col-4 col-md-3">
                            <strong>Quantity: </strong>
                        </div>
                        <!--
                            - col-8 = on small screen will take 2/3 of width
                            - on medium or above screens will take 1/3 of width
                            - dropdown menu, id used for javascript, 
                            - name used for server (req.body.quantity)
                        -->
                        <div class="col-8 col-md-4">
                            <select id="quantity" name="quantity">
                                <option value="0">0</option>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <!-- End of Quantity Option -->


                    <!-- Button for adding items to Cart -->
                    <!--
                        - creates a bootstrap button
                        - btn-dark = gives dark theme (stands out from other buttons on page)
                        - btn-lg = large button
                        - mt-4 = margin top of size 4
                        - w-100 = button is 100% width of its container
                        - onclick="addToCart()" = javascript function
                    -->
                    <button class="btn btn-dark btn-lg mt-4 w-100" onclick="addToCart()">Add to Cart</button>
                    <!-- End of Button -->


                    <!-- Back to Home Button -->
                    <div class="mt-4 text-center">
                        <a href="/" class="text-muted">
                            <button>← Back to Home Page</button>
                        </a>
                    </div>
                    <!-- End of Back to Home Button -->

                </div>
                <!-- End of Right Side Column -->
                <!------------------------------>

            </div>
        </div>

        <!-- End of Product Display Section-->
        <!----------------------------------->


        <!---------------------------------------------------------------------------->
        <!-- Alternative Products Link (exampe Arsenal away if on Arsenal home page) -->
        <!-- if an alternative link exists (done in app.js) -->
        <% if (altLink) { %>
            <!--
                - d-flex = creates flexbox container
                - justify-content-center = centres all child elements within the container horizontally
                - align-items-center = centres all child elements within the container vertically
                - my-3 = top and bottom margin of size 3
            -->
            <div class="d-flex justify-content-center align-items-center my-3">
                <!--
                    - anchor link using a bootstrap button
                    - btn-outline-dark = puts dark border / outline around button
                    - references the alternative jersey
                -->
                <a class="btn btn-outline-dark" href="<%= altLink %>">
                    Go to <%= myClub %>
                        <%= altVersion %> →
                </a>
            </div>
            <% } %>
            <!-- End of Alternative Products Link -->
            <!-------------------------------------->


                <!------------------------------->
                <!-- Links to Other Shop Pages -->
                <!-- class of page-buttons for CSS display and width -->
                <div class="page-buttons">
                    <a href="/jerseyShop">
                        <!-- class my-button for CSS width, flex, padding, font, alignment, margin -->
                        <button class="my-button">JERSEYS</button>
                    </a>
                    <a href="/miscShop">
                        <!-- class my-button for CSS width, flex, padding, font, alignment, margin -->
                        <button class="my-button">MISCELLANEOUS</button>
                    </a>
                    <a href="/shop-all">
                        <!-- class my-button for CSS width, flex, padding, font, alignment, margin -->
                        <button class="my-button">SHOP ALL</button>
                    </a>
                </div>
                <!-- End of Link to Other Shop Pages -->
                <!------------------------------------->


                <!------------------------>
                <!--Brand Logos Section -->

                <!--A band of brands across screen for logos of items being sold. Using class container to remove sliding bar 
                    at bottom of screen and set the width of the images in the row-->
                <section class="container">
                    <!--
                        Row (bootstrap) to keep all images in one row, with img-fluid (bootstrap) to make the images responsive
                        - col-lg-2 allows all six images in the row on a large screen
                        - col-md-4 stacks them in two rows with three images per row on medium screen
                        - col-6 puts two images per row on smaller sized screens, such as mobile
                    -->
                    <div class="row">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/nike-logo-black-and-white.png" alt="nike">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/adidas-logo-black-and-white.png" alt="addidas">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/puma-logo-black-and-white.png" alt="puma">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/umbro-logo-black-and-white.png" alt="umbro">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/Oneills-logo-black-and-white.png" alt="o'neills">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/macron-black-and-white.png" alt="macron">
                    </div>
                </section>

                <!--End of Brand Logos Section -->
                <!------------------------------->


                <!---------------------->
                <!--Back to Top Button-->
                <!-- id set for styling in CSS, function in Javascript-->
                <button id="backToTop" title="Go to top">↑ Top</button>

                <!--End of Back to Top Button-->
                <!----------------------------->


                <!------------------->
                <!-- Footer Section-->
                <%- include('templates/footer') %>

                    <!-- End of Footer Section-->
                    <!-------------------------->


                    <!--Link JAVASCRIPT FILE-->
                    <script src="/public/script.js"></script>



                    <!--Importing Bootstrap for JS and Popper-->
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>


</body>

</html>


<script>

    //For the code structure from Bootstrap to apply the alerts
    //https://getbootstrap.com/docs/5.0/components/alerts/

    // --------------
    // ALERT FUNCTION
    // --------------
    let alertTimeout;

    function showAlert(message, type) {
        // Where alert will be displayed on page
        const alertPlaceholder = document.getElementById("alertPlaceholder");

        // Clear previous alert & timeout
        clearTimeout(alertTimeout);

        // Place new alert into the alertPlaceholder
        // `type` (based on size options) determines the color of the alert
        alertPlaceholder.innerHTML = `
        <div class="alert alert-${type} fade show" role="alert">
            ${message}
        </div>
    `;

        // Make the Alert within the addToCart function disappear after 3 seconds on screen
        alertTimeout = setTimeout(() => {
            alertPlaceholder.innerHTML = "";
        }, 3000);
    }
    // ---------------------
    // END OF ALERT FUNCTION
    // ---------------------




    // --------------------
    // ADD TO CART FUNCTION
    // --------------------
    function addToCart() {
        //alert("This is from the function!");
        //storing all the information from the DOM in local storage
        //Price and Quantity needs to be Ints (numbers) for Checkout so converted via Number
        let product = document.getElementById("product").innerHTML;         // Product Name
        let type = document.getElementById("type").innerHTML;               // Product Type (jersey, ball, gloves, etc)
        let quantity = Number(document.getElementById("quantity").value);   // Quantity
        let size = document.getElementById("size").value;                   // Size
        let price = Number(document.getElementById("price").innerHTML);     // Price
        let image = document.getElementById("product_image").src;           // Product Image Location
        let ID = document.getElementById("type").dataset.id                 // Product ID from database
        //information above combined into one array
        let itemData = {
            id: ID,
            name: product,
            type: type,
            quan: quantity,
            s: size,
            p: price,
            img: image,

        };

        // Save the key with the product name and type (example: Arsenal Away M, Fulham Home XL, etc)
        // Allows for multiple of same product with different sizes to be added to cart
        let key = type + "" + size;
        localStorage.setItem(key, JSON.stringify(itemData));



        // -----------------------
        // ALERT BASED ON QUANTITY
        //if the quantity selected is 0 the warning (yellow) colour is used
        if (quantity === 0) {
            showAlert("No item added to the cart", "warning");
            return;
        } else if (quantity === 1) {
            //if the quanity selected is 1 the success colour (green) is used
            showAlert(quantity + " item added to cart", "success");
        } else if (quantity > 1) {
            //if the quanity selected is more than 1 the primary colour (blue) is used
            showAlert(quantity + " items added to cart", "primary");
        }
        // END OF ALERT BASED ON QUANTITY
        // ------------------------------

    }

    // ---------------------------
    // END OF ADD TO CART FUNCTION
    // ---------------------------


</script>