<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>
        <%= myClub %>
            <%= myVersion %>
    </title>

    <!--Importing Bootstrap for CSS-->
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Linking CSS file-->
    <link rel="stylesheet" href="/public/css/style.css">

    <!--Font Awesome -->
    <script src="https://kit.fontawesome.com/8875caf3cf.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-------------------->
    <!-- Navbar Section -->
    <%- include('templates/navbar') %>

        <!-- End of Navbar Section -->
        <!--------------------------->


        <div class="container mt-5 pt-4 pb-4">
            <div class="row">
                <!--Left side of the column - Product Name and Image in a container-->
                <div class="col-md-8 d-flex flex-column align-items-center text-center">
                    <h1 id="product">
                        <%= myClub %>
                    </h1>


                    <!--For Loop using myLeague from app.js to get the image from the correct folder-->
                    <!--Jesrseys are in images/jerseys/ and everything else is in images/misc_items-->
                    <!--Make the array miscProducts-->
                    <!--If the League column in db matches any of the miscProducts array, use the misc_items folder-->
                    <!--Otherwise jerseys is the standard folder to use for the images-->
                    <!--Using same loop to define if the item will be labelled as 'League' or 'Product' with myLeague-->
                    <% const miscProducts=['Ball', 'Shin Pads' , 'Gloves' , 'Goals' ]; let imageFolder='jerseys' ; let
                        leagueLabel='League:' ; for (let i=0; i < miscProducts.length; i++) { if
                        (myLeague===miscProducts[i]) { imageFolder='misc_items' ; leagueLabel='Product:' ; break; } } %>

                        <!--This will select the image based on the imageFolder from the loop above (jerseys or misc_items)-->
                        <div class="product-image-wrapper">
                            <img id="product_image" src="/public/images/<%= imageFolder %>/<%= myImage %>"
                                class="img-fluid mt-4 product-image" alt="Product Image">
                        </div>
                </div>



                <!--Right side of the column - Crest at Top above Information-->
                <div class="col-md-4">
                    <!-- Crest / Logo -->
                    <div class="text-center mb-4">
                        <img src="/public/images/crest/<%= myCrest %>" class="img-fluid" style="max-width: 120px;"
                            alt="Club Crest">
                    </div>
                    <!-- Product info -->
                    <h2 id="type" data-id="<%= myID %>">
                        <%= myClub %>
                            <%= myVersion %>
                    </h2>
                    <!-- The leagueLabel was defined in the for loop with const miscProducts -->
                    <p><strong>
                            <%= leagueLabel %>
                        </strong>
                        <%= myLeague %>
                    </p>
                    <p><strong>Manufacturer: </strong>
                        <%= myManufacturer %>
                    </p>
                    <h3 class="text-danger">
                        €<span id="price">
                            <%= myPrice %>
                        </span>
                    </h3>

                    <!--Size option - Done with if loop based on the name given under the 'League' column in db -->
                    <!--Notes in this section use <%# %> otherwise ejs will include them as code-->
                    <div class="row mb-3 align-items-center">
                        <div class="col-4 col-md-3">
                            <strong>Size: </strong>
                        </div>
                        <div class="col-8 col-md-4">
                            <select id="size" name="size">
                                <%# Size options for Footballs using the else if %>
                                    <% if (myLeague==="Ball" ) { %>
                                        <option value="Size 3">Size 3</option>
                                        <option value="Size 4">Size 4</option>
                                        <option value="Size 5" selected>Size 5</option>

                                        <%# Size options for Goalkeeper Gloves using the else if %>
                                            <% } else if (myLeague==="Gloves" ) { %>
                                                <option value="Xtra Small">Junior</option>
                                                <option value="Small">Adult Small</option>
                                                <option value="Medium" selected>Adult Medium</option>
                                                <option value="Large">Adult Large</option>

                                                <%# Size Options for Shin Pads using the else if %>
                                                    <% } else if (myLeague==="Shin Pads" ) { %>
                                                        <option value="Small">Small</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Large" selected>Large</option>

                                                        <%# Default Value for any uncategorised Items %>
                                                            <% } else if (myLeague==="Goals" ) { %>
                                                                <option value="Standard">Standard</option>

                                                                <%# Size Options for Jerseys (different league names -
                                                                    Premier League, La Liga, etc) using if loop %>
                                                                    <% } else { %>
                                                                        <option value="Xtra Small">XS</option>
                                                                        <option value="Small">S</option>
                                                                        <option value="Medium" selected>M</option>
                                                                        <option value="Large">L</option>
                                                                        <option value="Xtra Large">XL</option>
                                                                        <option value="Double Xtra Large">2XL</option>
                                                                        <% } %>
                            </select>
                        </div>
                    </div>

                    <!-- Alert Message Appears On Screen Noting Items Added to Cart -->
                    <div id="alertPlaceholder" class="mt-3"></div>

                    <!--Quantity option-->
                    <div class="row mb-3 align-items-center">
                        <div class="col-4 col-md-3">
                            <strong>Quantity: </strong>
                        </div>
                        <div class="col-8 col-md-4">
                            <select id="quantity" name="quantity">
                                <option value="0">0</option>
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>

                    <!--Button for adding items to Cart-->
                    <button class="btn btn-dark btn-lg mt-4 w-100" onclick="addToCart()">Add to Cart</button>



                    <!-- Back to home Button -->
                    <div class="mt-4 text-center">
                        <a href="/" class="text-muted">
                            <button>← Back to Home Page</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <!--Link to alternative product (exampe Arsenal away if on Arsenal home page) -->
        <% if (altLink) { %>
            <div class="d-flex justify-content-center align-items-center gap-4 my-3">
                <a class="btn btn-outline-dark" href="<%= altLink %>">
                    Go to <%= myClub %>
                        <%= altVersion %> →
                </a>
            </div>
            <% } %>

                <!------------------------------->
                <!-- Links to Other Shop Pages -->
                <div class="page-buttons">
                    <a href="/jerseyShop">
                        <button class="my-button">JERSEYS</button>
                    </a>
                    <a href="/miscShop">
                        <button class="my-button">MISCELLANEOUS</button>
                    </a>
                    <a href="/shop-all">
                        <button class="my-button">SHOP ALL</button>
                    </a>
                </div>
                <!-- End of Link to Other Shop Pages -->
                <!------------------------------------->


                <!------------------------>
                <!--Brand Logos Section -->

                <!--A band of brands across screen for logos of items being sold. Using class container to remove sliding bar 
                    at bottom of screen and set the width of the images in the row-->
                <section class="container">
                    <!--
                        Row (bootstrap) to keep all images in one row, with img-fluid (bootstrap) to make the images responsive
                        - col-lg-2 allows all six images in the row on a large screen
                        - col-md-4 stacks them in two rows with three images per row on medium screen
                        - col-6 puts two images per row on smaller sized screens, such as mobile
                    -->
                    <div class="row">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/nike-logo-black-and-white.png" alt="nike">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/adidas-logo-black-and-white.png" alt="addidas">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/puma-logo-black-and-white.png" alt="puma">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/umbro-logo-black-and-white.png" alt="umbro">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/Oneills-logo-black-and-white.png" alt="o'neills">
                        <img class="img-fluid col-lg-2 col-md-4 col-6"
                            src="/public/images/brands/macron-black-and-white.png" alt="macron">
                    </div>
                </section>

                <!--End of Brand Logos Section -->
                <!------------------------------->


                <!---------------------->
                <!--Back to Top Button-->
                <!-- id set for styling in CSS, function in Javascript-->
                <button id="backToTop" title="Go to top">↑ Top</button>

                <!--End of Back to Top Button-->
                <!----------------------------->


                <!------------------->
                <!-- Footer Section-->
                <%- include('templates/footer') %>

                    <!-- End of Footer Section-->
                    <!-------------------------->


                    <!--Link JAVASCRIPT FILE-->
                    <script src="/public/script.js"></script>



                    <!--Importing Bootstrap for JS and Popper-->
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>


</body>

</html>

<script>

    //For the code structure from Bootstrap to apply the alert colour
    //https://getbootstrap.com/docs/5.0/components/alerts/

    let alertTimeout;

    function showAlert(message, type) {
        const alertPlaceholder = document.getElementById("alertPlaceholder");

        // Clear previous alert & timeout
        clearTimeout(alertTimeout);
        alertPlaceholder.innerHTML = `
        <div class="alert alert-${type} fade show" role="alert">
            ${message}
        </div>
    `;

        // Make the Alert within the addToCart function disappear after 3 seconds on screen
        alertTimeout = setTimeout(() => {
            alertPlaceholder.innerHTML = "";
        }, 3000);
    }




    function addToCart() {
        //alert("This is from the function!");
        //storing all the information from the db to store in local storage / memory
        //Price and Quantity needs to be Ints for Checkout so converted via Number
        let product = document.getElementById("product").innerHTML;
        let type = document.getElementById("type").innerHTML;
        let quantity = Number(document.getElementById("quantity").value);
        let size = document.getElementById("size").value;
        let price = Number(document.getElementById("price").innerHTML);
        let image = document.getElementById("product_image").src;
        let ID = document.getElementById("type").dataset.id
        //information above combined into one array
        let itemData = {
            id: ID,
            name: product,
            type: type,
            quan: quantity,
            s: size,
            p: price,
            img: image,

        };

        //save the key with the product name and type (example: Arsenal Away M. Fulham Home XL, etc)
        let key = type + "" + size;
        localStorage.setItem(key, JSON.stringify(itemData));

        //alert on screen
        //if the quantity selected is 0 the warning (yellow) colour is used
        if (quantity === "0") {
            showAlert("No item added to the cart", "warning");
            return;
        } else if (quantity === "1") {
            //if the quanity selected is 1 the success colour (green) is used
            showAlert(quantity + " item added to cart", "success");
        } else {
            //if the quanity selected is more than 1 the primary colour (blue) is used
            showAlert(quantity + " items added to cart", "primary");
        }

    }
</script>